<div *ngIf="isShown" class="item-detail">
  <ion-item>
    <ion-label position="floating">Amount</ion-label>
    <ion-input disabled [ngModel]="salesOrderAmount"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Currency</ion-label>
    <ion-select [(ngModel)]="sOModel.CurrencyId" (ionChange)="currencyChange()">
      <ion-select-option *ngFor="let c of currencies;" [value]="c.ExchangeCurrencyId">{{c.ExchangeCurrency}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <!-- <ion-item>
    <ion-label position="floating">Exchange Rate:</ion-label>
    <ion-input (ionChange)="soDetailChange()" [(ngModel)]="sOModel.ExchangeRate"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">SO Number</ion-label>
    <ion-input [(ngModel)]="sOModel.SONumber"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">SO Date</ion-label>
    <ion-datetime (ionChange)="soDetailChange()" display-format="YYYY/MM/DD" id="dat" [(ngModel)]="soDate">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Customer</ion-label>
    <ion-select [(ngModel)]="sOModel.CustomerId" (ionChange)="customerChange()">
      <ion-select-option *ngFor="let cs of customerUsers;" [value]="cs.ArticleId">{{cs.Customer}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Term</ion-label>
    <ion-select [(ngModel)]="sOModel.TermId" (ionChange)="soDetailChange()">
      <ion-select-option *ngFor="let t of terms;" [value]="t.Id">{{t.Term}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Date Needed</ion-label>
    <ion-datetime (ionChange)="soDetailChange()" display-format="YYYY/MM/DD" id="dat" [(ngModel)]="neededDate">
    </ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Status</ion-label>
    <ion-select [(ngModel)]="sOModel.Status" (ionChange)="soDetailChange()">
      <ion-select-option *ngFor="let s of status;" [value]="s.Code">{{s.Code}}</ion-select-option>
    </ion-select>
  </ion-item>

</div>