.ion-margin{
    margin: 5px;
}

.item-label{
    font-size: 10px;
}

.item-price{
    font-size: 15px;
    font-weight: 500;
}

ion-toolbar{
    text-align: center;
    color:#2699FB;
}

ion-row{
    ion-col{
        #price-label{
            vertical-align: bottom;
        }
        
    }
}
