<ion-header>  
  <ion-toolbar>  
    <ion-title>Item Detail</ion-title>  
    <!-- <ion-icon slot=""name='close-circle' (click)='dismiss()' style='float: right;'></ion-icon>   -->
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon size="large"style="margin-left: 10px;"color="primary"name="arrow-back"></ion-icon>
      </button>
  </ion-buttons>
  <ion-button slot="end"size="small" color="success" (click)="addSOItem()">Add</ion-button>
  </ion-toolbar>  
</ion-header>  
  
<ion-content>  
    <div>
    <ion-item>
      <ion-label position="floating">Item Code:</ion-label>
      <ion-input></ion-input>
    </ion-item>    
    <ion-item>
      <ion-label position="floating">Manual Item:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SKU Code:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Bar Code:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Description:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Unit:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Discount:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Inventory Code:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Particulars</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Quantity:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Price:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Discount Rate:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Discount Amount:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Net Price:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Amount:</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT RATE</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT Amount</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Withholding Tax</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Withholding Tax Rate</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Withholding Tax Amount</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
</ion-content> 