<ion-header>
  <ion-toolbar>
    <ion-title>Item Detail</ion-title>
    <ion-icon name="return-down-back-outline" slot="start" size="large" style="margin-left: 10px; margin-right: 30px"
      color="primary" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isShown" class="item-detail">
    <ion-item>
      <ion-label position="floating">SKU</ion-label>
      <ion-input [(ngModel)]="trnSalesOrderItemModel.ItemSKUCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">BAR CODE NUMBER</ion-label>
      <ion-input [(ngModel)]="trnSalesOrderItemModel.ItemBarCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DESCRIPTION</ion-label>
      <ion-input [(ngModel)]="trnSalesOrderItemModel.ItemDescription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">UNIT</ion-label>
      <ion-select [(ngModel)]="trnSalesOrderItemModel.UnitId">
        <ion-select-option *ngFor="let unit of listItemUnit;" [value]="unit.UnitId">{{unit.UnitName}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DISCOUNT</ion-label>
      <ion-select [(ngModel)]="trnSalesOrderItemModel.DiscountId"
        (ionChange)="onSelectionChangeComputeDiscountAndAmount()">
        <ion-select-option *ngFor="let discount of listDiscount;" [value]="discount.Id">{{discount.Discount}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">INVENTORY CODE</ion-label>
      <ion-input [(ngModel)]="trnSalesOrderItemModel.ItemInventoryCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">QUANTITY</ion-label>
      <ion-input [(ngModel)]="salesOrderItemQuantity" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PRICE</ion-label>
      <ion-select [(ngModel)]="salesOrderItemPrice" (ionChange)="onSelectionChangeComputePrice($event)">
        <ion-select-option *ngFor="let price of listItemPrice;" [value]="price.Price">{{price.Price + " " +
          price.PriceDescription}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DISCOUNT RATE</ion-label>
      <ion-input [(ngModel)]="salesOrderItemDiscountRate"
        (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">DISCOUNT AMOUNT</ion-label>
      <ion-input [(ngModel)]="salesOrderItemDiscountAmount"
        (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">NET PRICE</ion-label>
      <ion-input [(ngModel)]="salesOrderItemNetPrice" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">AMOUNT</ion-label>
      <ion-input [(ngModel)]="salesOrderItemAmount" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT</ion-label>
      <ion-select [(ngModel)]="trnSalesOrderItemModel.VATId" (ionChange)="onSelectionChangeComputeVATAmount()">
        <ion-select-option *ngFor="let tax of listTax;" [value]="tax.Id">{{tax.TaxDescription}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT RATE</ion-label>
      <ion-input [(ngModel)]="salesOrderItemVATRate" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">VAT AMOUNT</ion-label>
      <ion-input [(ngModel)]="salesOrderItemVATAmount" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">WITHHOLDING</ion-label>
      <ion-select [(ngModel)]="trnSalesOrderItemModel.WTAXId" (ionChange)="onSelectionChangeComputeWTAXAmount()">
        <ion-select-option *ngFor="let tax of listTax;" [value]="tax.Id">{{tax.TaxDescription}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">WITHHOLDING TAX RATE</ion-label>
      <ion-input [(ngModel)]="salesOrderItemWTAXRate" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">WITHHOLDING TAX AMOUNT</ion-label>
      <ion-input [(ngModel)]="salesOrderItemWTAXAmount" (ionFocus)="onFocusNumberRemoveCommas('salesOrderItemQuantity')"
        (ionBlur)="onaBlurNumberAddCommas(salesOrderItemQuantity, 'salesOrderItemQuantity')"
        (ionInput)="onKeyUpComputeAmountFromQuantity($event)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">PARTICULARS</ion-label>
      <ion-textarea [(ngModel)]="trnSalesOrderItemModel.Particulars"></ion-textarea>
    </ion-item>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="saveSOItemClick()">
    <ion-icon name="pencil"></ion-icon>
  </ion-fab-button>
</ion-fab>