<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-content class="login-bg">
    <ion-grid style="padding-top: 130px;">
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col size="6">
          <ion-img src="assets/logos/easyfis-logo.png"></ion-img>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
      <br><br>
      <br>
      <ion-row justify-content-center>
        <ion-col size="1">
        </ion-col>
        <ion-col size="10" align-self-center>
          <div padding>
            <ion-item>
              <ion-icon md="person-outline" md="person-sharp"></ion-icon>
              <ion-input type="text" name="email" type="email" placeholder="Username"
                [(ngModel)]="sysLoginModel.Username" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon md="lock-closed-outline" md="lock-closed-sharp"></ion-icon>
              <ion-input type="text" name="password" type="password" placeholder="Password"
                [(ngModel)]="sysLoginModel.Password" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button type="button" size="medium" expand="block" (click)="asyncLogin()">Login</ion-button>
          </div>
        </ion-col>
        <ion-col size="1">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>