<ion-tabs>
  <ion-tab-bar slot="sales-order">
    <ion-tab-button tab="so">
      <ion-icon name="reorder-three-outline"></ion-icon>
      <ion-label>Detail</ion-label>

    </ion-tab-button>
    <!-- event trigger - event listener -->
    <ion-tab-button tab="so-items" (itemCounts)="soItemCount($event)">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Items</ion-label>
      <ion-badge>8</ion-badge>
      <ion-badge *ngIf="itemCount != 0">
        {{ itemCount }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="so-attachment">
      <ion-icon name="attach-outline"></ion-icon>
      <ion-label>Attachment</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>