<ion-header>
  <ion-toolbar>
    <ion-title>Sales Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-button (click)="showSODetail()">Detail</ion-button>
            </ion-item>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-item>
              <ion-button (click)="showSOItem()">Items</ion-button>
            </ion-item>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>
    <ng-container *ngIf="isShown">
      <div [hidden]="soDetailHidden">
        <app-so-details [sOModel]="sOModel"></app-so-details>
      </div>
      <div [hidden]="soItemHidden">
        <app-so-items (itemCounts)="soItemCount($event)"></app-so-items>
      </div>
    </ng-container>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="addSOItem()">
    <ion-icon name="save"></ion-icon>
  </ion-fab-button>
</ion-fab>