<ion-header>
  <ion-toolbar>
    <ion-title>SALES ORDER</ion-title>
    <ion-label slot="end" style="padding-right: 15px;" (click)="saveSOToLocal()">SAVE</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ng-container *ngIf="isShown">
      <div [hidden]="salesOrderHidden">
        <app-so-details [sOModel]="salesOrder" (sOEventEmitter)="receiveSODetailEvent($event)"></app-so-details>
      </div>
      <div [hidden]="soItemHidden">
        <app-so-items [sOModel]="salesOrder" (itemsEventEmitter)="receiveItemEvent($event)"></app-so-items>
      </div>
    </ng-container>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar class="footer-toolbar">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-activatable ripple-parent" (click)="showsalesOrder()">
          <ion-label>
            <ion-icon ios="list-outline'" md="list-sharp"></ion-icon>
          </ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
        <ion-col class="ion-activatable ripple-parent " (click)="showSOItem()">
          <ion-label id="col-badge">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-badge id="item-badge" *ngIf="salesOrder.SOItems.length > 0">{{salesOrder.SOItems.length}}</ion-badge>
          </ion-label>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>